<nav class="navbar navbar-expand-lg navbar-dark bg-info">  
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories/">Categorias</a>
        </li>
        <li class="nav-item>">
            <a class="nav-link" href="/admin/articles/">Artigos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users/">Usuários</a>
        </li>

    </ul>
    <ul class="navbar-nav ml_auto">
        <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>
    </ul>
</nav>