<%- include ('../../partials/header.ejs'); %>
<body>
    <div class="container">
        <div class="card mt-4">
            <div class="card-header text-center">
                <h3>Painel do administrador</h3>
            </div>
            <div class="card-body">
                <form action="/authenticate" method="POST">
                    <input class="form-control" name="email" type="email" placeholder="email@exemplo.com" required><br>  
                    <input class="form-control" name="password" type="password" placeholder="senha" required><br>
                    <button type="submit" class="btn btn-info btn-block"><i class="fas fa-sign-in-alt"></i> Entrar</button>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include ('../../partials/footer.ejs'); %>